<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.auction.mapper.AdminMapper">
	<!-- member -->
	<select id="showMember" resultType="com.auction.vo.MemberVo">
		SELECT * FROM member order by grade asc, api asc;
	</select>
	<select id="saleItem" resultType="com.auction.vo.AuctionVo">
		SELECT a.*, p.pname, p.bestmoney, p.admin, p.deal FROM product p left outer join auction a on a.pno=p.pno where p.ID=#{ID} and a.pno=p.pno order by buydate desc;
	</select>
	<select id="buyItem" resultType="com.auction.vo.AuctionVo">
		SELECT a.idx, a.myprice, a.buydate, p.pname, p.ID FROM product p left outer join auction a on a.pno=p.pno where a.ID=#{ID} and a.pno=p.pno order by buydate desc;
	</select>


	<!-- product -->
	<select id="dealProduct" resultType="com.auction.vo.ProductVo">
		select p.*, grade from product p left outer join member m on m.ID=p.ID where admin=#{admin} and deal=#{deal} order by uploaddate desc,pno desc;
	</select>
	<select id="dealProductPage" resultType="com.auction.vo.ProductVo">
		select p.*, grade from product p left outer join member m on m.ID=p.ID where admin=#{admin} and deal=#{deal} order by uploaddate desc,pno desc LIMIT 10 OFFSET #{offset};
	</select>
	<select id="adminProduct" resultType="com.auction.vo.ProductVo">
		select p.*, grade from product p left outer join member m on m.ID=p.ID where admin=#{admin} order by uploaddate desc,pno desc;
	</select>
	<select id="adminProductPage" resultType="com.auction.vo.ProductVo">
		select p.*, grade from product p left outer join member m on m.ID=p.ID where admin=#{admin} order by uploaddate desc,pno desc LIMIT 10 OFFSET #{offset};
	</select>
	<select id="showProduct" resultType="com.auction.vo.ProductVo">
		SELECT p.*, grade FROM product p left outer join member m on m.ID=p.ID order by uploaddate desc,pno desc;
	</select>
	<select id="showProductPage" resultType="com.auction.vo.ProductVo">
		SELECT p.*, grade FROM product p left outer join member m on m.ID=p.ID order by uploaddate desc,pno desc LIMIT 10 OFFSET #{offset} ;
	</select>
	<update id="updateAdmin">
		update product set admin=#{admin}, deal=#{deal} where pno=#{pno};
	</update>
	
	<select id="chart" resultType="com.auction.vo.AuctionVo">
		select * from auction where pno=#{pno} order by buydate asc;
	</select>
</mapper>